- # app/views/admin/features/blog_posts/_actions.html.haml

= render :layout => 'admin/common/components/button_bar' do
  = render :partial => 'admin/common/components/button', :locals => { :text => 'Create Post', :url => new_blog_post_path(blog), :options => { :icon => :file_o, :text_color => :primary } }
