- # app/views/admin/features/blog_posts/index.html.haml

- directory_presenter = DirectoryPresenter.new @current_directory

- presenter = present @blog

= render :partial => 'admin/common/modals/confirm_delete'

- content_for :content_header do
  = render_component 'common/content_header', :title => presenter.label

%h3.clearfix.no-margin-bottom
  Posts

  = render :partial => 'admin/features/blog_posts/index/actions', :locals => { :blog => @blog }

= render :partial => 'admin/features/table', :locals => { :features => @blog.posts }
