- # app/views/admin/features/blog_posts/new.html.haml

- presenter = present(@resource.blog)

- content_for :content_header do
  = render_component 'common/content_header', :title => presenter.label

%h3 Create Post

= render :partial => 'admin/features/blog_posts/form', :locals => { :directories => @directories, :blog => @blog, :post => @resource }
