- # app/views/admin/settings/navigation_list_settings/_list.html.haml

- list.items.each.with_index do |item, index|
  = render :partial => 'admin/settings/navigation_list_settings/item', :locals => { :form => form, :index => index, :item => item }
