- # app/views/features/blog_posts/_post.html.haml

- presenter ||= present post

%h3.clearfix
  = presenter.label

  - if user_signed_in?
    = render_component 'admin/features/blog_posts/show/actions', :directory => @current_directory, :post => post, :presenter => presenter

- if presenter.published? || current_user.blank?
  %p.text-muted= presenter.published_message
- else
  .alert.alert-warning.alert-dismissable
    %button.close{ :type => 'button', :'data-dismiss' => 'alert' }
      %span{ :'aria-hidden' => true } &times;
      %span.sr-only Close
    %strong Warning
    This post is not yet published. It is not visible to other users.

- present(post.content).render_content(self)
