- # app/views/admin/features/contents/text_contents/_fields.html.haml

= form.fields_for :content, content do |fields|
  = fields.hidden_field :_type, :value => content._type
  = fields.form_group :text_content, :label => 'Content' do
    = fields.text_area :text_content, :autosize => true
