- # app/views/admin/settings/modals/_edit_setting.html.haml

#edit-setting-modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ :type => 'button', :'data-dismiss' => 'modal' }
          %span{ :'aria-hidden' => true }= icon :close
          %span.sr-only Close
        %h4.edit-setting-title Edit Setting
      .modal-body
      .modal-footer
        %button.btn.btn-default.cancel-edit-button{ :type => 'button', :'data-dismiss' => 'modal' } Cancel
        %button.btn.btn-warning.confirm-edit-button= "#{icon(icon_name(:edit, :setting))} Update Setting".html_safe
