- # app/views/admin/features/blogs/edit.html.haml

- content_for :content_header do
  = render_component 'common/content_header', :title => @resource.title

%h3 Edit Blog

= render :partial => 'admin/features/blogs/form', :locals => { :directories => @directories, :blog => @resource }
