- # app/views/admin/features/blogs/index.html.haml

- presenter = DirectoryPresenter.new @current_directory

= render :partial => 'admin/common/modals/confirm_delete'

- content_for :content_header do
  = render_component 'common/content_header', :title => presenter.label

%h3.clearfix.no-margin-bottom
  Blogs

  = render_component 'admin/features/blogs/index/actions', :directory => @current_directory, :presenter => presenter

= render :partial => 'admin/features/table', :locals => { :features => @current_directory ? @current_directory.blogs : Blog.roots }
