- # app/views/admin/directories/_actions.html.haml

= render :layout => 'admin/common/components/button_bar' do
  = render :partial => 'admin/common/components/button', :locals => { :text => 'Create Directory', :url => new_directory_path(directory), :options => { :icon => :folder_o, :text_color => :primary } }
