- # app/views/admin/directories/_actions.html.haml

%p
  = link_to new_directory_path(directory), :class => 'text-primary' do
    = icon :folder_o, :fixed => true, :scale => :large
    Create Directory
