- # app/views/admin/directories/edit.html.haml

- presenter = DirectoryPresenter.new @current_directory

%h2
  = presenter.label
  %small Edit Directory

= render :partial => 'admin/directories/form', :locals => { :directory => @resource }
