- # app/views/admin/directories/index.html.haml

- presenter = DirectoryPresenter.new @current_directory

= render :partial => 'admin/common/modals/confirm_delete'

- content_for :content_header do
  = render_component 'common/content_header', :title => presenter.label

%h3.clearfix.no-margin-bottom
  Directories

  = render_component 'admin/directories/index/actions', :directory => @current_directory, :presenter => presenter

= render :partial => 'admin/directories/table', :locals => { :directories => presenter.children }
