- # app/views/admin/directories/new.html.haml

- presenter = DirectoryPresenter.new @current_directory

- content_for :content_header do
  = render_component 'common/content_header', :title => presenter.label

%h3 Create Directory

= render :partial => 'admin/directories/form', :locals => { :directory => @resource }
