- # app/views/directories/new.html.haml

- presenter = DirectoryPresenter.new @current_directory

%h2
  = presenter.label
  %small Create Directory

= render :partial => 'form', :locals => { :directory => @directory }
