- # app/views/admin/settings/navigation_list_settings/items/_show.html.haml

.row{ :style => 'margin-left:0px;margin-right:0px;margin-bottom:10px;' }
  .col-sm-2.text-left{ :style => 'padding-left:0px;' }
    %strong= 'Label'
  .col-sm-4{ :style => 'padding:0px;' }= item.label
  .col-sm-2.text-left{ :style => 'padding-left:0px;' }
    %strong= 'URL'
  .col-sm-16{ :style => 'padding:0px;' }= item.url
