- # app/views/admin/features/blogs/_actions.html.haml

= render_component 'admin/common/components/button_bar' do
  = render_component 'admin/common/components/button', :text => 'Create Blog', :url => new_blog_path(@directory), :options => { :icon => icon_name(:create, :blog) }
