- # app/views/features/pages/show.html.haml

- directory_presenter = DirectoryPresenter.new @directories.last
- presenter           = present(@resource)
- content_presenter   = present(@resource.content)

= render :partial => 'admin/common/modals/confirm_delete'

- if user_signed_in?
  - content_for :content_header do
    = render_component 'common/content_header', :title => presenter.label, :subtitle => presenter.index? ? 'Index' : '' do
      = render_component 'admin/features/pages/show/actions', :presenter => presenter, :resource => @resource

- if !presenter.published? && !current_user.blank?
  = render_component 'common/components/message', :type => :info, :message => 'This page is not yet published. It is not visible to other users.'

- content_presenter.render_content(self)
