- # app/views/admin/features/pages/edit.html.haml

- content_for :content_header do
  = render_component 'common/content_header', :title => @resource.title

%h3 Edit Page

= render :partial => 'admin/features/pages/form', :locals => { :directories => @directories, :page => @resource }
