- # app/views/admin/features/pages/new.html.haml

- presenter = DirectoryPresenter.new @current_directory

- content_for :content_header do
  = render_component 'common/content_header', :title => presenter.label

%h3 Create Page

= render :partial => 'admin/features/pages/form', :locals => { :directories => @directories, :page => @resource }
