- # app/views/common/components/_button.html.haml

- url     ||= '#'
- text    ||= 'Button'
- options ||= {}
- options.reverse_merge!({ :color => :default, :size => :sm })
- options[:class] = "btn btn-#{options[:size]} btn-#{options[:color]} #{options[:class]}"

= render_component 'admin/common/components/link', :url => url, :text => text, :options => options
