- # app/views/admin/settings/index.html.haml

- content_for :content_header do
  = render_component 'common/content_header', :title => 'Site Settings'

%h3.clearfix Edit Settings

%div{ :data => { :'backbone-layout' => 'Settings.ListLayout' } }
  = render :partial => 'admin/settings/modals/edit_setting'

  - @settings.each do |setting|
    - presenter    = present setting
    - setting_type = setting.class.name.underscore.pluralize

    = render :partial => "admin/settings/#{setting_type}/show", :locals => { :presenter => presenter, :setting => setting }
