- # app/views/features/blogs/show.html.haml

- post = current_user ? @resource.posts.last : @resource.posts.published.last
= render :partial => 'features/blogs/blog', :locals => { :blog => @resource, :post => post }
