// app/assets/stylesheets/application.css.less

//= require custom_bootstrap/custom_bootstrap
//= require font-awesome/font-awesome

.fa-sm {
  font-size: 0.66666667em;
  line-height: 2.25em;
  vertical-align: -15%;
}

.text-plain {
  color: #333;

  &:hover, &:focus {
    color: #000;
    text-decoration: none;
  }
}
