- # app/views/common/header/_navigation.html.haml

- navigation = Setting.fetch('site.navigation', {})
- unless navigation.blank?
  %nav.row
    - navigation.each do |label, url|
      .col-sm-divisible{ :class => "col-sm-divisible-by-#{navigation.count}" }
        = render :partial => 'common/header/navigation_item', :locals => { :label => label, :url => url }
